



body{
  margin: 0;
  padding: 0;
}
.header{
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../../assets/images/TiffinServices.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: sans-serif;
  margin-top: -10px;
}
h1{
  color: #fff;
  margin-bottom: 40px;
  font-size: 45px;
  letter-spacing: 2px;
}

.search-field{
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: 25px;
  outline: none;
}
.location{
  width: 300px;
}
.mess{
  width: 300px;
}

.search-btn{
  height: 50px;
  width: 150px;
  background: #ffeb3b;
  border: none;
  color: #000;
  border-radius: 25px;
}

.search-btn:hover{
  background: #e6ad05;
  cursor: pointer;
}

.form-box{
  background: rgba(0,0,0,0.5);
  padding: 30px;
}



