
    <div class="login-box">
      <h1 style="color: white;margin-left: 5em;"><b>Signup Here</b></h1>
      <form #signupForm="ngForm" >
        <p style="color: white;">Username</p>
        <input type="text" name="username"  id="username" placeholder="Enter Username" [required]>
        <p style="color: white;">Password</p>
        <input type="text" name="password" id="password" placeholder="Enter Password"  [required]>
        <input type="submit" name="submit" value="Login" >
        <a href="#">Forget Password</a>
        <h4>New To Website &nbsp;<a href="#">Sign Up</a></h4>
      </form>
    </div>
